<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Yale-NUS College Laundry Status Checker</title>
        <meta name="description" content="A Yale-NUS College Laundry Status Checker built with love by Shardul, Horatio and Chua Yun Da for the whole Yale-NUS College Community.">
        <link rel="canonical" href="https://laundry.chuayunda.com/index/"/>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <!--<link rel='shortcut icon' href='https://upload.wikimedia.org/wikipedia/commons/0/02/YNClogo.png' type='image/png'/>-->
        <link rel='shortcut icon' href='https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/237/electric-light-bulb_1f4a1.png' type='image/png'/>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


        <!--{% if title %}
        <title>{{ title }} - Laundry Viewer</title>
        {% else %}
        {% endif %}-->
    </head>
    <body>
        <!--<div>-->
            <!--LaundryViewer:-->
            <!--<a href="{{ url_for('index') }}">Home</a></div>-->
        <!--<hr>-->
        {% block content %} {% endblock %}
    </body>
</html>

